<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>
<body>
    
    <% if(nombre && apellido){ %>
        <h2> Su nombre es: <%= nombre %> </h2>
        <h2> Su apellido es: <%= apellido%> </h2>
    <% }%>
    
</body>
</html>
<!-- <%const estilo = 'color:red;'; %>
<% // if(mensaje){ %>
    <h2 style=<%=estilo%>> <%=//mensaje%> </h2>
<% //}%>  -->