<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form action="/productos" method="post">
        <div class="container mt-5">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text"name="title">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="price">
            </div>
            <div class="form-group">
                <label for="thumbnail">Thumbnail</label>
                <input class="form-control" type="text" name="thumbnail">
            </div>
            <button type="submit" class="btn btn-primary" >Enviar</button>
        </div>
    </form>

    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-primary" >Mirar Productos</a>
        </div>
    </div>
</body>
</html>